.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  min-height: 100vh;
}
.flex_column {
  box-shadow: 0 0 25px 1px rgba(211, 184, 196, 0.3),
    inset 0 0 40px 0px rgba(11, 4, 6, 0.1),
    0.7vmin -0.7vmin 1vmin 0 rgba(11, 4, 6, 0.1);
  border-radius: 4vmin;
  text-shadow: var(--dark-shadow);
}
.mountains {
  height: 33vh;
  position: relative;
}
.card {
  padding: 4vmin;
  border-radius: 3px 0 4vmin 4vmin;
}
.title {
  font-size: calc(2rem + 4vmin);
  z-index: 1;
  position: absolute;
  font-weight: 500;
  bottom: 16vmin;
  right: 2vmin;
  height: 55px;
  margin: 0 4vmin 0 0;
  text-align: right;
  color: #fff;
}
.tagline {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 0;
}
.fancy {
  color: #6fedeb;
}

@media only screen and (min-width: 534px) {
  .title {
    bottom: 4vmin;
  }
}
@media (min-width: 769px) and (min-height: 580px) {
  .tagline {
    font-size: 2.25rem;
  }
}
