.span {
  color: #feee;
  display: block;
  font-family: Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS,
    Verdana, Verdana Ref, sans-serif;
  cursor: pointer;
}
.span:hover {
  text-decoration: underline;
}
.description {
  margin-bottom: 3vmin;
  line-height: 1.5;
  color: #feec;
  letter-spacing: 1px;
}
.h2 {
  margin: 0.5vh 0 0.8vh;
  font-weight: 500;
  font-size: 1.4em;
  letter-spacing: 1px;
}
.column {
  flex-direction: column;
  padding: 2vmin 4vmin;
  width: 100%;
  text-shadow: 3px 3px 2px #0008;
}
.tag_list {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  border-top: 1px solid #cbb8;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.tag_list li {
  display: inline-block;
  margin-right: 0.5rem;
}
