.tag {
  text-shadow: 0 0 1px #000;
  font-family: Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
  background: #0004;
  border-radius: 10px;
}
.tag:hover {
  background: #0008;
}
