@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  backdrop-filter: blur(6px) saturate(280%);
  -webkit-backdrop-filter: blur(16px) saturate(280%);
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-dark {
  backdrop-filter: blur(2px) saturate(5000%);
  -webkit-backdrop-filter: blur(2px) saturate(5000%);
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.fancy {
  color: #6FEDEB;
}
