.root {
  display: block;
  box-sizing: border-box;
  height: 100%;
  height: fit-content;
}
.main {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  min-height: 100%;
  flex-wrap: wrap;
  padding: 0 4vmin;
}

@media (min-width: 769px) and (min-height: 460px) {
  .root {
    display: flex;
    flex: 1 1 auto;
  }
  .main {
    flex: 1 1 auto;
    position: relative;
  }
}
